alabaster==0.7.16
attrs==23.2.0
Babel==2.15.0
beautifulsoup4==4.12.3
bleach==6.1.0
cachetools==5.4.0
certifi==2024.7.4
chardet==5.2.0
charset-normalizer==3.3.2
colorama==0.4.6
contourpy==1.2.1
coverage==7.6.0
cycler==0.12.1
defusedxml==0.7.1
distlib==0.3.8
docutils==0.20.1
exceptiongroup==1.2.2
fastjsonschema==2.20.0
filelock==3.15.4
flake8==7.1.0
fonttools==4.53.1
idna==3.7
imagesize==1.4.1
importlib_metadata==8.0.0
importlib_resources==6.4.0
iniconfig==2.0.0
Jinja2==3.1.4
json5==0.9.25
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyterlab_pygments==0.3.0
kiwisolver==1.4.5
MarkupSafe==2.1.5
matplotlib==3.9.1
mccabe==0.7.0
mistune==3.0.2
mock==5.1.0
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
numpy==2.0.0
packaging==24.1
pandas==2.2.2
pandocfilters==1.5.1
pillow==10.4.0
platformdirs==4.2.2
pluggy==1.5.0
pycodestyle==2.12.0
pyflakes==3.2.0
Pygments==2.18.0
pyparsing==3.1.2
pyproject-api==1.7.1
pytest==8.2.2
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
pyzmq==26.0.3
referencing==0.35.1
requests==2.32.3
rpds-py==0.19.0
scipy==1.13.1
six==1.16.0
snowballstemmer==2.2.0
soupsieve==2.5
Sphinx==7.4.5
sphinx-copybutton==0.5.2
sphinx-rtd-theme==2.0.0
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
tinycss2==1.3.0
tomli==2.0.1
tornado==6.4.1
tox==4.16.0
traitlets==5.14.3
tzdata==2024.1
urllib3==2.2.2
virtualenv==20.26.3
webencodings==0.5.1
zipp==3.19.2
